@import "./styles/reset.scss";


// #main {
//     display: flex;
//     position: relative;
//     flex-direction: row;
//     justify-content: center;
// }

#game-canvas {
    background-color: aquamarine;
    border-color: black;
    border: 1px solid;
}